.wrap.bg-top-nav
	.container
		a.logo(href='/')
		.fbar-wrap
			.fbar-nav
				.fbar-text IRS Amnesty Program - Never reported a foreign account?
				.fbar-text JC&amp;Company represents dozens of taxpayers who are voluntarily disclosing over $100 million in foreign bank accounts and assets to the IRS
				.fbar-text To learn more about JC&amp;Company's FBAR l FATCA services, visit our website at <a href="/fbar">jclawcpa.com/fbar</a>
			a(href='/fbar').logo-fbar
				span FBAR
				span FATCA


.wrap.bg-nav
	.container
		ul.nav
			li
				a.link-who-we-are(href="who-we-are-overview.html") Who we are
			li
				a.link-what-we-do(href="what-we-do-assurance.html") What we do
			li
				a.link-newsroom(href="newsroom.html") Newsroom
			li
				a.link-careers(href="careers.html") Careers
			li
				a.link-contact-us(href="contact-us.html") Contact us
