.wrap.bg-top-nav
	.container
		a.logo(href='/')
		.fbar-wrap
			.fbar-nav
				.fbar-text IRS Amnesty Program - Never reported a foreign account?
				.fbar-text JC &amp; Company represents dozens of taxpayers who are voluntarily disclosing over $100 million in foreign bank accounts and assets to the IRS
				.fbar-text To learn more about JC &amp; Company's FBAR ㅣ FATCA services, visit our website at <a href="/fbar">jclawcpa.com/fbar</a>
			a(href='/fbar').logo-fbar
				span FBAR
				span FATCA


.wrap.bg-nav
	.container
		ul.nav
			li
				a(href="who-we-are.html") Who We Are
			li
				a(href="what-we-do.html") What We Do
			li
				a(href="newsroom.html") Newsroom
			li
				a(href="careers.html") Careers
			li
				a(href="contact-us.html") Contact Us
