extends ../inc.layout.jade
block content
	.wrap
		.container
			.header-wrap
				h2 Contact Us
				p.crumb
					<a href='/'>Home</a> &gt; Contact Us


			.page-container
				.locations-sidebar
					ul.locations-list
						li
							h2 Irvine
							p 10 Corporate Park, Ste. 210, Irvine CA 92606
							p Phone <span>949.553.1110</span>
							p Fax <span> 949.485.4900</span>
							p Email. info@jclawcpa.com
							a(href='http://maps.google.com/maps?q=38+Corporate+Park,+Irvine,+CA+92606+&hl=en&sll=37.0625,-95.677068&sspn=80.692593,124.013672&z=17', target='_blank') view map

						li
							h2 Los Angeles
							p 4801 Wilshire Blvd. Ste. 306
							p  Los Angeles, CA 90010
							p Phone <span>213.293.9110</span>
							p Fax <span> 213.973.4720</span>
							a(href='http://maps.google.com/maps?q=3600+Wilshire+Blvd.+suite+2036&hl=en&sll=33.688791,-117.827418&sspn=0.010784,0.015138&z=17', target='_blank') view map

						li
							h2 Northeast Regional Office
							p 1830 Easton Ave. Somerset
							p NJ 08873
							a(href='http://maps.google.com/maps?q=1830+Easton+Ave.+Somerset&hl=en&sll=34.06153,-118.303463&sspn=0.010737,0.015138&z=17', target='_blank') view map


				form.contact-form(action='contactPS.php', name='frm', method='post', enctype='multipart/form-data', onsubmit='return Valid();')
					h3 We appreciate your interest in JC&amp;Company and look forward to speaking with you.
					p To contact JC&amp;Company, please complete the form below and we will contact you within 24-hours during normal business days.
					p.first * Please fill in all fields with <span class="req">*</span>

					ul.form
						li
							label
								span.req *
								|  First Name
							input#first_name(type='text', name='first_name')
						li
							label
								span.req *
								|  Last Name
							input#last_name(type='text', name='last_name')
						li
							label
								span.req *
								|  Email
							input#email(type='text', name='email')
						li
							label Phone Number
							input#phone(type='text', name='phone')
						li
							label Company Name
							input#company(type='text', name='company')
						li
							label Street Address
							input#street(type='text', name='street')
						li
							label City
							input#city(type='text', name='city')
						li
							label State/Province
							select#state(name='state')
								option Please select
								option(value='AL') AL
								option(value='AK') AK
								option(value='AZ') AZ
								option(value='AR') AR
								option(value='CA') CA
								option(value='CO') CO
								option(value='CT') CT
								option(value='DE') DE
								option(value='FL') FL
								option(value='GA') GA
								option(value='HI') HI
								option(value='ID') ID
								option(value='IL') IL
								option(value='IN') IN
								option(value='IA') IA
								option(value='KS') KS
								option(value='KY') KY
								option(value='LA') LA
								option(value='ME') ME
								option(value='MD') MD
								option(value='MA') MA
								option(value='MI') MI
								option(value='MN') MN
								option(value='MS') MS
								option(value='MO') MO
								option(value='MT') MT
								option(value='NE') NE
								option(value='NV') NV
								option(value='NH') NH
								option(value='NJ') NJ
								option(value='NM') NM
								option(value='NY') NY
								option(value='NC') NC
								option(value='ND') ND
								option(value='OH') OH
								option(value='OK') OK
								option(value='OR') OR
								option(value='PA') PA
								option(value='RI') RI
								option(value='SC') SC
								option(value='SD') SD
								option(value='TN') TN
								option(value='TX') TX
								option(value='UT') UT
								option(value='VT') VT
								option(value='VA') VA
								option(value='WA') WA
								option(value='WV') WV
								option(value='WI') WI
								option(value='WY') WY
						li
							label Zip/postal code
							input#zipcode(type='text', name='zipcode')
						li
							label Country/Region
							select#country(name='country')
								option Please select
								option(value='United States') United States
								option(value='Canada') Canada
								option(value='Korea') Korea
						li.cl
							label Comments/Questions (Maximum 500 Characters)
							textarea#comments(rows='', cols='', name='comments')
					.actions
						input(type='submit', value='Submit')
						a.reset(href='javascript:document.frm.reset();') Cancel


block scripts
	script.
		$(function(){
			$('.nav').find('.link-contact-us').addClass('active');
		});
