extends ../inc.layout.jade
block content
	.wrap
		.container
			.header-wrap
				h2 What We Do
				p.crumb
					<a href='/'>Home</a> &gt; What We Do &gt; Assurance

			.subnav
				a.active(href="what-we-do-assurance.html") Assurance
				a(href="what-we-do-tax.html") Tax
				a(href="what-we-do-law.html") Law
				a(href="what-we-do-asian.html") Asian Practice
				a(href="what-we-do-startup.html") Startup Consulting
				a(href="what-we-do-wealth.html") Wealth Management

			.subpage-intro
				p When it comes to Auditing and Assurance services, we not only ask the right questions but also seek to find the right answers you need to your most pressing concerns.
				img(src="img/subpages/assurance.jpg")


			.page-container
				.sidebar
					h4 How we can help
					ul
						li Financial statement audits &amp; reviews 
						li SEC registrations and filings
						li IFRS conversion and reporting
						li Sarbanes oxley section 404 compliance 
						li M&amp;A and other transaction advisory services
						li Financial and tax due diligence 
						li Business projection and valuations
						li CFO and controller outsourcing 


				.page-content
					p What makes JC&amp;Company so different? Our audit and assurance services extend far beyond the preparation of financial statements. Our professionals aren&rsquo;t only studying the newest regulations and analyzing financial data, but they&rsquo;re out talking and meeting with people to get a better understanding of the various industries in which businesses like yours operate. Because of our knowledge, our people can provide you with reliable, insightful input that allows you to make the best decisions for your organization today and for generations to come.



					h3 Commitment to Quality

					p.last-of-page JC&amp;Company is committed to the highest standards of quality and ethics. Our comprehensive system of quality control ensures that consistent high standards are maintained from start to delivery of our audit and assurance services. We constantly monitor the ever-changing factors that affect your business goals, and assist you in developing strategies to help you succeed in today&rsquo;s ever-changing economy.

block scripts
	script.
		$(function(){
			$('.nav').find('.link-what-we-do').addClass('active');
		});
