extends ../inc.layout.jade
block content
	.wrap
		.container
			.header-wrap
				h2 What We Do
				p.crumb
					<a href='/'>Home</a> &gt; What We Do &gt; JC Wealth Management

			.subnav
				a(href="what-we-do-assurance.html") Assurance
				a(href="what-we-do-tax.html") Tax
				a(href="what-we-do-law.html") Law
				a(href="what-we-do-asian.html") Asian Practice
				a(href="what-we-do-startup.html") Startup Consulting
				a.active(href="what-we-do-wealth.html") Wealth Management

			.subpage-intro
				p Wealth management service helps our clients work towards and maintain financial prosperity by implementing strategies that seek to maximize the growth, preservation, and tax-efficient transfer of corporate and personal wealth. 
				img(src="img/subpages/wealth-mnt.jpg")


			.page-container
				.sidebar
					h4 How we can help
					ul
						li Integrated financial planning
						li Estate planning
						li Charitable planning
						li Corporation/business entity tax deduction strategies
						li Legacy trust planning
						li Captive strategy
						li Business succession planning
						li Foreign national opportunities


				.page-content
					p We are committed to maintaining the highest standards of integrity and professionalism and seek to provide our clients with excellent service and results. Our licensed wealth advisor will utilize a holistic financial approach by reviewing your wealth management positions. This approach can help you take charge of your finances through a comprehensive plan. Our mission is to deliver objective and honest advice to our clients and serve as their family wealth guardians. As a financial caretaker, we foster interaction and engagement with all of our client family members who seek to secure their wealth for generations.

					h3 We are a global network of bilingual professionals

					p.last-of-page Our professionals are dedicated to providing personalized service for our Asian clients around the world. We are made up of experienced men and women with in-depth knowledge of both the Americas and Asian corporate environments, gained through hands-on experience of serving major clients. With substantial experience with many reputable Asian companies, JC&amp;Company&rsquo;s professionals understand the relationships between U.S. operations, foreign parent companies, and global affiliates, and can provide a broad range of Audit, Tax and Advisory services to Asian companies operating in the U.S.

block scripts
	script.
		$(function(){
			$('.nav').find('.link-what-we-do').addClass('active');
		});
