extends ../inc.layout.jade
block content
	.wrap
		.container
			.header-wrap
				h2 Who We Are
				p.crumb
					<a href='/'>Home</a> &gt; <a href='who-we-are-overview.html'>Who We Are</a> &gt; Testimonials

			.subnav
				a(href="who-we-are-overview.html") Overview
				a(href='#') Our Values
				a(href='who-we-are-clients.html') Our Clients
				a.active(href='who-we-are-testimonials.html') Testimonials


			ul.testimonial-section
				li
					.left-col
						img(src="http://jclawcpa.com/images/logo_hj.gif")
						p Hanjin Transportation
						p <small>Newport Beach, CA</small>

					.right-col
						p 	&ldquo;We depend on JC&amp;Company for many services. They are enormously helpful with our audits, reporting to our Korean parent company and communicating with the parent company auditors, Ernst &amp; Young. Besides our auditing, JC&amp;Company also provides us with tax planning ideas when structuring our cross border transactions, as well as helping us to ensure compliance with U.S. tax law. I am happy to continue this successful relationship with them. Why haven't we considered other accounting firms in all these years? Because JC&amp;Company gives us exceptional service. They are true experts in what they do and are very proactive.&rdquo;
						cite Douglas Hyun / President

				li
					.left-col
						img(src="http://placehold.it/100x100")
						p Kitten Caboodle
						p <small>Santa Monica, CA</small>

					.right-col
						p 	&ldquo;We depend on JC&amp;Company for many services. They are enormously helpful with our audits, reporting to our Korean parent company and communicating with the parent company auditors, Ernst &amp; Young. Besides our auditing, JC&amp;Company also provides us with tax planning ideas when structuring our cross border transactions, as well as helping us to ensure compliance with U.S. tax law. I am happy to continue this successful relationship with them. Why haven't we considered other accounting firms in all these years? Because JC&amp;Company gives us exceptional service. They are true experts in what they do and are very proactive.&rdquo;
						cite Cat Kitty / Feline Specialist


block scripts
	script.
		$(function(){
			$('.nav').find('.link-who-we-are').addClass('active');
		});
