extends ../inc.layout.jade
block content
	.wrap
		.container
			.header-wrap
				h2 Who We Are
				p.crumb
					<a href='/'>Home</a> &gt; <a href='who-we-are-overview.html'>Who We Are</a> &gt; Our Clients

			.subnav
				a(href="who-we-are-overview.html") Overview
				a(href='who-we-are-values.html') Our Values
				a.active(href='#') Testimonials
				a(href='who-we-are-clients.html') Our Clients

			//- .subpage-intro
			//- 	p We help our clients’ business grow in a challenging economy by minimizing risk, minimizing taxes, improving profitability, streamlining internal control, managing technology, and by maximizing opportunities.
			//- 	img(src="img/subpages/handshake.jpg")


			ul#testimonials
             	li.odd
        	.info
            img(src='../images/logo_hj.gif', alt='')
          |                 
          |               
          p Hanjin Transportation, Co. Ltd
          |                 
          p.small
            | Hanjin Intermodal
            br
            |  America, Inc.
            br
            | Carson, CA
        |             
        .quote
          p
            | &ldquo;We depend on JC&amp;Company for many services. They are enormously helpful with our audits, reporting to our Korean parent company and communicating with the parent company auditors, Ernst &amp; Young.  Besides our auditing, JC&amp;Company also provides us with tax planning ideas when structuring our cross border transactions, as well as helping us to ensure compliance with U.S. tax law. I am happy to continue this successful relationship with them. Why haven&apos;t we considered other accounting firms in all these years?  Because JC&amp;Company gives us exceptional service. They are true experts in what they do and are very proactive.&rdquo;
          | &#x9;&#x9;&#x9;&#x9;
          p Douglas Hyun / President
      |     &#x9;
      li
        .info
          img(src='../images/logo_palmco.gif', alt='')
          |               
          p Palmco Corporation
          |                 
          p.small Newport Beach, CA
        |             
        .quote
          p
            | &ldquo;They are our corporate CPA, providing attestation, accounting and tax related services for our company. Their predecessor was one of the national public accounting firms, McGladrey.  JC&amp;Company represented then and still represents a good choice for us. They are qualified and well experienced in the area of international business with complicated corporate structure, so they bring a lot of expertise to the category. Our decision to bring them in was based on their experience, competency, capabilities and, as in most relationships, how well we fit and get along. They&apos;re good people, and I&apos;m glad that we work with them.&rdquo;
          | &#x9;&#x9;&#x9;&#x9;
          p Marianne Lee / Director of Operations
      |    
      |     &#x9;
      li.odd
        .info
          img(src='../images/logo_liveplex.gif', alt='')            
          p Liveplex  Co., Ltd. 
            br
            | (Kosdaq:050120)                
          p.small Seoul, Korea
        |             
        .quote
          p &ldquo;JC&amp;Company was the accounting firm for our due diligence project in the United States for our potential reverse merger. It was an easy decision. They are outstanding with their in-depth knowledge in the issues and with their strong professionalism. They are responsive and knowledgeable about regulatory requirements for initial public offering in the U.S. and related SEC rules and regulations. And they have great honesty and integrity. We need our CPAs to be utterly truthful with us and keep us on the right track, and we can absolutely depend on JC&amp;Company to fulfill that responsibility and look forward to a long-lasting relationship.&rdquo;
          | &#x9;&#x9;&#x9;&#x9;
          p Kwan-ho  Ha / Executive Vice President &amp; CFO
      |  
      |     &#x9;
      li
        .info
          img(src='../images/logo_lmetal.gif', alt='')
          |                 
          p
            | Liquidmetal Technologies, Inc.
            br
            |                 (Nasdaq: LQMT)
          | &#x9;&#x9;&#x9;&#x9;
          p.small Rancho Santa Margarita, CA
        |             
        .quote
          p
            | &ldquo;JC&amp;Company helped us for two years, and I have worked with them before in other capacities as well.  I can say without hesitation that they are not only technically proficient and highly competent, but they are also practical problem-solvers extraordinaire.  With their help, we were able to get through a long and tough IRS examination with a clean &quot;no change&quot; result.  They are timely, professional, and take our interests to heart.  Truly, they are an asset to our Company.&rdquo;
          | &#x9;&#x9;&#x9;&#x9;
          p Tony Chung / Chief Financial Officer
      |     &#x9;
      li.odd
        .info
          img(src='../images/logo_neowiz.gif', alt='')
          |               
          p Neowiz Games, Inc. 
          |                 
          p.small
            | Neowiz Entertainment, Inc.
            br
            | Irvine, CA
        |             
        .quote
          p
            | &ldquo;After going through a number of traditional CPAs, I met John and his team and I immediately realized that he understood the tax and accounting issues of my company as well as mine. At the first meeting, he provided me with a comprehensive, but succinct, explanation about the issues I should consider as I managed an U.S subsidiary of a foreign company. I was truly glad that I finally found an accounting firm I can trust and depend on, and this was especially important to me because, although our parent company had good reputation and resources in Korea, the business in the U.S. was completely new to me and all my company members.  Simply put, John and his team are impeccable professionals.&rdquo;
          | &#x9;&#x9;&#x9;&#x9;
          p Marvin Park  / President &amp; Chief Executive Officer
      |    
      |     &#x9;
      li
        .info
          img(src='../images/logo_dsystem.gif', alt='')
          |               
          p Daily Systems, LLC.
          |                 
          p.small Paso Robles, CA
        |             
        .quote
          p
            | &ldquo;When my relationship with JC&amp;Company first commenced last year, I was quite candid with them. I told them we were a small company that does not have well established HR or Accounting department and that we were rookies when it came to financial reporting and international accounting and taxes. They were exceptionally patient and resourceful, helping me and our management group to understand what all the reporting and compliance requirements meant and why they were directed at us. Whenever a question arises, JC&amp;Company is a phone call away. We rely on them to answer questions and assist us through processes all the time. They not only help with our accounting and taxes, but even supported and guided us through a major switch in accounting programs. They are always looking out for our best interest and often times get more involved in something that they are not required to in order to make sure we have all the tools to be successful. In my opinion, JC&amp;Company goes above and beyond and they have been a really great partner.&rdquo;
          | &#x9;&#x9;&#x9;&#x9;
          p Rene Oliver  / President &amp; Chief Executive Officer


block scripts
	script.
		$(function(){
			$('.nav').find('.link-who-we-are').addClass('active');
		});
