extends ../inc.layout.jade
block content
	.wrap
		.container
			.header-wrap
				h2 Who We Are
				p.crumb
					<a href='/'>Home</a> &gt; <a href='who-we-are-overview.html'>Who We Are</a> &gt; Our Clients

			.subnav
				a(href="who-we-are-overview.html") Overview
				a(href='who-we-are-values.html') Our Values
				a.active(href='#') Our Clients
				a(href='who-we-are-testimonials.html') Testimonials


			//- .subpage-intro
			//- 	p We help our clients’ business grow in a challenging economy by minimizing risk, minimizing taxes, improving profitability, streamlining internal control, managing technology, and by maximizing opportunities.
			//- 	img(src="img/subpages/handshake.jpg")


			.image-list
				img(src='images/clients/01.png', alt='')
				img(src='images/clients/02.png', alt='')
				img(src='images/clients/03.png', alt='')
				img(src='images/clients/04.png', alt='')
				img(src='images/clients/05.png', alt='')
				img(src='images/clients/06.png', alt='')
				img(src='images/clients/07.png', alt='')
				img(src='images/clients/08.png', alt='')
				img(src='images/clients/09.png', alt='')
				img(src='images/clients/10.png', alt='')
				img(src='images/clients/11.png', alt='')
				img(src='images/clients/12.png', alt='')
				img(src='images/clients/13.png', alt='')
				img(src='images/clients/14.png', alt='')
				img(src='images/clients/15.png', alt='')
				img(src='images/clients/16.png', alt='')
				img(src='images/clients/17.png', alt='')
				img(src='images/clients/18.png', alt='')
				img(src='images/clients/19.png', alt='')
				img(src='images/clients/20.png', alt='')
				img(src='images/clients/21.png', alt='')
				img(src='images/clients/22.png', alt='')
				img(src='images/clients/23.png', alt='')
				img(src='images/clients/24.png', alt='')
				img(src='images/clients/25.png', alt='')
				img(src='images/clients/26.png', alt='')
				img(src='images/clients/27.png', alt='')
				img(src='images/clients/28.png', alt='')
				img(src='images/clients/29.png', alt='')
				img(src='images/clients/30.png', alt='')
				img(src='images/clients/31.png', alt='')
				img(src='images/clients/32.png', alt='')
				img(src='images/clients/33.png', alt='')
				img(src='images/clients/34.png', alt='')
				img(src='images/clients/35.png', alt='')
				img(src='images/clients/36.png', alt='')
				img(src='images/clients/37.png', alt='')
				img(src='images/clients/38.png', alt='')
				img(src='images/clients/39.png', alt='')
				img(src='images/clients/40.png', alt='')
				img(src='images/clients/41.png', alt='')
				img(src='images/clients/42.png', alt='')
				img(src='images/clients/43.png', alt='')
				img(src='images/clients/44.png', alt='')
				img(src='images/clients/45.png', alt='')

block scripts
	script.
		$(function(){
			$('.nav').find('.link-who-we-are').addClass('active');
		});
