extends ../inc.layout.jade
block content
	.wrap
		.container
			.header-wrap
				h2 Who We Are
				p.crumb
					<a href='/'>Home</a> &gt; <a href='who-we-are-overview.html'>Who We Are</a> &gt; Our Clients

			.subnav
				a(href="who-we-are-overview.html") Overview
				a(href='who-we-are-values.html') Our Values
				a.active(href='#') Testimonials
				a(href='who-we-are-clients.html') Our Clients

			//- .subpage-intro
			//- 	p We help our clients’ business grow in a challenging economy by minimizing risk, minimizing taxes, improving profitability, streamlining internal control, managing technology, and by maximizing opportunities.
			//- 	img(src="img/subpages/handshake.jpg")




block scripts
	script.
		$(function(){
			$('.nav').find('.link-who-we-are').addClass('active');
		});
